<div class="flex">
  <!-- Sidebar -->
  <% if (user.role === 'admin') { %>
  <div
    class="bg-white text-purple-600 p-6 h-screen shadow-md transition-all duration-300 md:block hidden"
    id="sidebar"
  >
    <div class="mb-10 flex items-center gap-2">
      <span class="text-purple-600 text-3xl font-extrabold tracking-wider"
        >T1</span
      >
      <span class="text-gray-800 text-xl font-semibold compact">CARE</span>
    </div>

    <ul class="space-y-6 navbar">
      <li>
        <a
          href="/overview"
          class="flex items-center space-x-4 px-4 py-2 rounded-lg hover:bg-purple-700 hover:border-purple-700 hover:text-white hover:shadow-md transition-all"
        >
          <i class="fa fa-tachometer-alt"></i>
          <span class="compact">Tổng quan</span>
        </a>
      </li>
      <li>
        <a
          href="/users"
          class="flex items-center space-x-4 px-4 py-2 rounded-lg hover:bg-purple-700 hover:border-purple-700 hover:text-white hover:shadow-md transition-all"
        >
          <i class="fa fa-users"></i>
          <span class="compact">Người dùng</span>
        </a>
      </li>
      <li>
        <a
          href="/map"
          class="flex items-center space-x-4 px-4 py-2 rounded-lg hover:bg-purple-700 hover:border-purple-700 hover:text-white hover:shadow-md transition-all"
        >
          <i class="fa fa-map"></i>
          <span class="compact">Bản đồ</span>
        </a>
      </li>
      <li>
        <a
          href="/requests"
          class="flex items-center space-x-4 px-4 py-2 rounded-lg hover:bg-purple-700 hover:border-purple-700 hover:text-white hover:shadow-md transition-all"
        >
          <i class="fa fa-clipboard-list"></i>
          <span class="compact">Yêu cầu</span>
        </a>
      </li>
    </ul>
  </div>
  <% } %>
  <div class="flex-1 h-screen">
    <!-- Header -->
    <div class="flex justify-between items-center mb-6 shadow-md px-6 py-3">
      <% if (user.role !== 'admin') { %>
      <div class="flex items-center">
        <span class="text-purple-600 text-xl font-extrabold tracking-wider">
          T1
        </span>
        <span class="text-gray-800 text-md font-semibold compact">CARE</span>
      </div>

      <div class="flex gap-4 mt-2">
        <a
          href="/map"
          class="text-[#19294D] text-sm font-medium hover:text-purple-600"
        >
          Bản đồ
        </a>
        <a
          href="/devices"
          class="text-[#19294D] text-sm font-medium hover:text-purple-600"
        >
          Thiết bị
        </a>
      </div>
      <% } %> <% if (user.role === 'admin') { %>
      <button id="menu-toggle" class="text-purple-600 md:block hidden">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <button id="menu-toggle-mobile" class="text-purple-600 md:hidden block">
        <i class="fa-solid fa-bars"></i>
      </button>
      <% } %>
      <div class="flex items-center space-x-4">
        <button
          class="flex items-center space-x-2 bg-white p-2"
          id="avatar-button"
        >
          <% if (user.role == 'admin') { %>
          <span class="text-purple-600 font-semibold">
            <%= user.full_name %>
          </span>
          <% } %>

          <img
            src="images/avatar.png"
            alt="User Avatar"
            class="w-10 h-10 rounded-full border-2 border-white"
          />
          <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
    </div>
    <div
      id="popup-menu"
      class="hidden absolute top-14 right-0 w-48 bg-white border rounded-lg shadow-lg p-4 z-50"
    >
      <ul class="space-y-2">
        <li>
          <a href="/profile" class="text-purple-600 hover:text-purple-800"
            >Hồ sơ cá nhân</a
          >
        </li>
        <li>
          <a href="/logout" class="text-purple-600 hover:text-purple-800"
            >Đăng xuất</a
          >
        </li>
      </ul>
    </div>
    <main class="px-7"><%- body %></main>
    <footer class="text-center text-sm text-gray-400 mt-10">
      © <%= new Date().getFullYear() %> iBME lab. All rights reversed.
    </footer>
  </div>
</div>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const menuToggleMobile = document.getElementById('menu-toggle-mobile');
  const sidebar = document.getElementById('sidebar');
  const compactElements = document.querySelectorAll('.compact');

  // Toggle sidebar visibility on mobile
  menuToggleMobile.addEventListener('click', () => {
    sidebar.classList.toggle('hidden');
  });

  // Toggle compact text visibility on desktop
  menuToggle.addEventListener('click', () => {
    compactElements.forEach((element) => {
      element.classList.toggle('hidden');
    });
  });

  const currentPath = window.location.pathname;

  document.querySelectorAll('.navbar li').forEach((menuItem) => {
    const link = menuItem.querySelector('a');

    if (link && currentPath.startsWith(link.getAttribute('href'))) {
      link.style.backgroundColor = '#7e22ce';
      link.style.borderColor = '#7e22ce';
      link.style.color = '#ffffff';
      link.style.boxShadow = '0 4px 6px rgba(0, 0, 0, 0.1)';
    }
  });
</script>
<script>
  const avatarButton = document.getElementById('avatar-button');
  const popupMenu = document.getElementById('popup-menu');

  avatarButton.addEventListener('click', (event) => {
    event.stopPropagation();

    popupMenu.classList.toggle('hidden');
  });

  window.addEventListener('click', (event) => {
    if (
      !popupMenu.contains(event.target) &&
      !avatarButton.contains(event.target)
    ) {
      popupMenu.classList.add('hidden');
    }
  });
</script>
<script>
  const currentPathMobile = window.location.pathname;

  document.querySelectorAll('a').forEach((link) => {
    if (link.getAttribute('href') === currentPathMobile) {
      link.classList.add('text-purple-600', 'font-bold');
      link.classList.remove('text-[#19294D]');
    }
  });
</script>
