<aside
  class="w-64 bg-purple-700 text-white p-4 fixed inset-0 lg:left-0 lg:w-64 lg:block lg:h-full transform -translate-x-full lg:translate-x-0 transition-transform duration-300"
  id="sidebar"
>
  <ul>
    <li>
      <a
        href="/dashboard"
        class="flex items-center p-2 hover:bg-purple-600 rounded-md"
      >
        <i class="fa fa-tachometer-alt mr-3"></i> Dashboard
      </a>
    </li>
    <li>
      <a
        href="/settings"
        class="flex items-center p-2 hover:bg-purple-600 rounded-md"
      >
        <i class="fa fa-cogs mr-3"></i> Settings
      </a>
    </li>
    <li>
      <a
        href="/reports"
        class="flex items-center p-2 hover:bg-purple-600 rounded-md"
      >
        <i class="fa fa-chart-line mr-3"></i> Reports
      </a>
    </li>
    <li>
      <a
        href="/profile"
        class="flex items-center p-2 hover:bg-purple-600 rounded-md"
      >
        <i class="fa fa-user-circle mr-3"></i> Profile
      </a>
    </li>
  </ul>
</aside>

<!-- Đoạn mã này giúp mở sidebar trên các thiết bị nhỏ -->
<button
  id="sidebar-toggle"
  class="lg:hidden fixed bottom-10 left-10 p-3 bg-purple-600 text-white rounded-full shadow-lg"
>
  <i class="fa fa-bars"></i>
</button>
